version: 1.0.1.{build}
skip_tags: true
configuration: Release
platform: Any CPU
assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: 1.0.1
nuget:
  project_feed: true
before_build:
- nuget restore
build:
  publish_nuget: true
  publish_nuget_symbols: true
  include_nuget_references: true
  verbosity: minimal
test:
  assemblies: '**\*UnitTest.dll'
deploy:
- provider: NuGet
  api_key:
    secure: L7HheuTdHTMKBF86h/UGwbpsaCkM8MZLxsT9YziqFxRtfrQOrkmrQ6uUlbIbtee0
  on:
    branch: master